body {
    background-color: #121212;
}

.clear{width: 100%; clear: both; height: 0px; line-height:0px;}

.panel {
    background-color: rgba(255, 255, 255, .11);
    margin-top: 16pt;
    margin-bottom: 16pt;
    padding-left: 16pt;
    padding-right: 16pt;
}

.horizontal {
    margin: 0;
    padding: 0;
}

.horizontal li {
    display: inline;
    padding-right: 10pt;
}

.inlineBlock
{
    display: inline-block;
}

.vertAligner {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.alignRight {
    display: flex;
    justify-content: flex-end;
}

.inlineBlock {
    display: inline-block;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.left {
    justify-content: left;
    align-items: left; 
}

.NoFlex {
    display: block;
}

.maxWidth {
    width: 100%;
}

.sidePaddingXV {
    padding-left: 15px;
    padding-right: 15px;
}

.vertPaddingX {
    padding-top: 10px;
    padding-bottom: 10px;
}

.vertPaddingXV {
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
}

h2 {
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
}

h4 {
    color: white;
    font-family: 'Roboto Slab', serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

p {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.infoParagraph {
    margin-top: -16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

b {
    overflow-wrap: normal;
}

.circleImg {
    border-color: white;
    border-radius: 100%;
    border-style: solid;
}

.langImg {
    width: 2vw;
    height: 2vw;
    padding-right: 0.75vw;
}

.langSection {
    padding-top: 1vh;
}